#felso
{
	margin-top: 30px;
}

.kozep
{
	text-align: center;
}

.kepfelirat
{
	text-align: center;
	font-style: italic;
}

.galeriakep
{
	margin: auto;
	display: block;
	height: 300px;
}

*{
	background-color: #f7eddc;
}

.totenet {
	font-weight: bold;
}

